BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
IndentCaseLabels: true
IndentGotoLabels: false
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros: None
AlignTrailingComments: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
SpacesBeforeTrailingComments: 1
Standard: Latest
ReflowComments: false
SortIncludes: false
IncludeBlocks: Preserve
SkipMacroDefinitionBody: true
MaxEmptyLinesToKeep: 1
IndentWrappedFunctionNames: false
BreakStringLiterals: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
DerivePointerAlignment: false
PointerAlignment: Right
Cpp11BracedListStyle: false
BitFieldColonSpacing: None
OneLineFormatOffRegex: '__asm__'
