# Build outputs
build/
**/res/gen/

# Temporary/editor files
*.swp
*.swo
*~
.DS_Store
/tmp/

# log files
qemu.log

# Python
__pycache__/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json
