# Build outputs
build/
kernel/build/

# Kernel binary / images
*.bin
*.iso

# Temporary/editor files
*.swp
*.swo
*~
.DS_Store

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
