# Build outputs
build/
**/res/gen/

# Rust
target/
/rust-project.json

# qemu artifacts
/hd[a-d].img
qemu.log

# Temporary/editor files
*.swp
*.swo
*~
.DS_Store
.codex
.agents
/tmp/

# Python
__pycache__/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json
